@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.grid {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem 10rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 400;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  overflow: hidden;
  gap: 2rem;
}
.card__img {
  width: 100%;
  height: 15rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.card__title {
  margin-left: 3rem;
  font-size: 1.6rem;
  font-weight: 800;
}
.card__list {
  list-style: none;
  margin-left: 3rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card__item span {
  font-weight: 600;
}

#light .card {
  background-color: hsl(0deg, 0%, 100%);
}

#dark .card {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}

.header {
  padding: 2rem 10rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-size: 2.2rem;
  font-weight: 800;
}
.header__btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.header__icon.MuiSvgIcon-root {
  font-size: 2rem;
}
.header__text {
  font-weight: 600;
}

#light .header {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(200deg, 15%, 8%);
}

#dark .header {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}

#light {
  background-color: hsl(0deg, 0%, 98%);
}

#dark {
  background-color: hsl(207deg, 26%, 17%);
}

.filters {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3rem;
}
.filters__cont {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 30%;
}
.filters__icon.MuiSvgIcon-root {
  font-size: 2rem;
}
.filters__input {
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 2rem 1rem;
}
.filters__select.MuiFormControl-root {
  margin: 0;
  border: none;
}
.filters__dropdown-menu {
  position: relative;
  display: flex;
  align-items: stretch;
}
.filters__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  cursor: pointer;
}
.filters .dropdown {
  position: absolute;
  top: 115%;
  left: 0;
  width: 20rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  transition: all 0.4s;
}
.filters .dropdown__label {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  transition: all 0.4s;
  cursor: pointer;
}
.filters .dropdown__option {
  display: none;
}

#light .filters__cont, #light .filters__btn,
#light .filters .dropdown {
  background-color: hsl(0deg, 0%, 100%);
}
#light .filters__icon.MuiSvgIcon-root {
  color: hsl(0deg, 0%, 52%);
}
#light .filters .dropdown__label:hover {
  background-color: hsl(0deg, 0%, 98%);
}

#dark .filters__cont, #dark .filters__input, #dark .filters__btn,
#dark .filters .dropdown {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
#dark .filters__input::placeholder {
  color: hsl(0deg, 0%, 100%);
}
#dark .filters__icon.MuiSvgIcon-root {
  color: hsl(0deg, 0%, 100%);
}
#dark .filters .dropdown__label:hover {
  background-color: hsl(207deg, 26%, 17%);
}

/*# sourceMappingURL=styles.css.map */
