.details {
  padding: $padding-base;
  max-width: $max-width-desktop;
  margin: $margin-center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  height: 90vh;
  &__btn-back {
    position: absolute;
    top: 20%;
    left: 10%;
  }

  &__img {
    width: 50%;
    height: 50%;
    box-shadow: $box-shadow-md;
  }
  &__text {
    font-size: $font-size-details;
    width: 50%;
  }
  &__heading {
    font-weight: $font-weight-bold;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 15rem;
    flex-wrap: wrap;
    margin: 3rem 0 6rem;
  }
  &__item {
    span {
      font-weight: $font-weight-medium;
    }
  }
  &__border-countries {
    display: flex;
    gap: 3rem;
  }
  &__paragraph {
    font-weight: $font-weight-medium;
  }
  &__btns {
    display: flex;
    gap: 1rem;
  }
  &__btn-country {
    background-color: transparent;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    border-radius: $border-radius-base;
  }
}
#light {
  .details {
    background-color: $color-grey-light;
    &__btn-country {
      border: 1px solid $color-grey-dark;
    }
  }
}
#dark {
  .details {
    background-color: $color-blue-dark-1;
    color: $color-grey-light;
    &__btn-country {
      color: color-grey-light;
      border: 1px solid $color-grey-light;
    }
  }
}
