.header {
  padding: 2rem 10rem;

  box-shadow: 0 4px 10px rgba(black, 0.15);
  font-size: $font-size-home;
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: 2.2rem;
    font-weight: $font-weight-bold;
  }
  &__btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
  }
  &__icon {
    font-size: 2rem !important;
  }
  &__text {
    font-weight: $font-weight-medium;
  }
}
#light .header {
  background-color: $color-white;
  color: $color-blue-dark-2;
}
#dark .header {
  background-color: $color-blue;
  color: $color-white;
}
