.header {
  padding: $padding-base;
  box-shadow: $box-shadow-md;
  font-size: $font-size-home;
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
  }
  &__btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
  }
  &__icon.MuiSvgIcon-root {
    font-size: $font-size-sm;
  }
  &__text {
    font-weight: $font-weight-medium;
  }
}
#light .header {
  background-color: $color-white;
  color: $color-blue-dark-2;
}
#dark .header {
  background-color: $color-blue;
  color: $color-white;
}
