///////////////////////////////////////////
//////COLORS///////////////////////////////
$color-blue: hsl(209, 23%, 22%);
$color-blue-dark-1: hsl(207, 26%, 17%);
$color-blue-dark-2: hsl(200, 15%, 8%);
$color-grey-dark: hsl(0, 0%, 52%);
$color-grey-light: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

////////////////////////////////////////
/// ///////////FONT/////////////////////
$font-size-home: 1.4rem;
$font-size-details: 1.6rem;
$font-weight-normal: 300;
$font-weight-medium: 600;
$font-weight-bold: 800;
